/* styles.css */
body {
  margin: 0;
  background-color: #06061a;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.tooltip {
  background: rgba(20, 20, 40, 0.7);
  padding: 10px 15px;
  color: white;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  font-size: 13px;
}